html, body{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 42);
    color: azure;
}

.est{
    height: 70%;
    animation: cimabaixo 3s infinite alternate-reverse;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes cimabaixo {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(100px);
    }
}