html, body{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 42);
    color: azure;
}

.asuka{
    height: 50%;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.asuka:hover{
    height: 75%;
}