html, body{
    margin:0;
    padding:0;
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    background-color: #282a2e;
    color:#e3e3e3;
    margin:0;
    padding: 12px 40px;
}

.title{
    background-color: rgb(130, 27, 48);
    padding: 0.5em 5em;
}

.links{
    flex: auto;
    display: flex;
    justify-content: end;
}

.a{
    margin-left: 2em;
}

a{
    color: inherit; 
    text-decoration: inherit; 
}

.main{
    padding: 0px 70px;
}

.m-container a{
    color:rgb(130, 27, 48); 
    text-decoration:underline; 
}

.m-container{
    margin: 30px 0;
}

.m-container h1{
    width: 100%;
    margin: 0;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(130, 27, 48);
    color:#e3e3e3;
    margin:0;
    padding: 10px;
}

.footer span{
    margin-left: 5em;
}