html, body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-areas: 
    'title title title title title'
    'display display display display display'
    'display display display display display'
    'clr bcks bcks parO parC'
    'n8 n7 n9 minus plus'
    'n4 n5 n6 mult divd'
    'n3 n4 n5 elev equl'
    'n0 n0 point rad equl' 
    ;
    grid-template-columns: repeat(5,75px);
    grid-template-rows: repeat(8, 75px);
    column-gap: 5px;
    row-gap: 5px;
}

.screen{
    min-height: 30px;
}