html, body{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
}

.container{
    display: flex;
}

.rgb{
    width: 400px;
    height: 300px;
    border: 2px solid black;
    margin-right: 30px;
}

.slideRGB{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 0;
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 40px;
    background: #fff;
    border: 2px solid #999;
}
#B::-webkit-slider-thumb{
    box-shadow: -200px 0 0 200px dodgerblue; 
}
#R::-webkit-slider-thumb{
    box-shadow: -200px 0 0 200px red; 
}
#G::-webkit-slider-thumb{
    box-shadow: -200px 0 0 200px green; 
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-sizing: border-box;
}
#B::-moz-range-thumb{
    box-shadow: -200px 0 0 200px dodgerblue;
}
#R::-moz-range-thumb{
    box-shadow: -200px 0 0 200px red;
}
#G::-moz-range-thumb{
    box-shadow: -200px 0 0 200px green;
}

#B::-ms-fill-lower { 
    background: dodgerblue;
}
#R::-ms-fill-lower { 
    background: red;
}
#G::-ms-fill-lower { 
    background: green;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}