*{
    background-color: rgb(178, 153, 153);
}
body{
    background-color: rgb(135, 140, 134);
}
.box {
    width: 50%;
    border-radius: 15px;
    border-width: 2px;
    border-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: justify ;
}
.t1{
    background-color: azure;
}