body, html{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 500px;
    width: 800px;
    display: flex;
    box-shadow: 2px 2px 3px 3px #CCCCCC;
}

.col{
    flex: 50%;
    padding: 0px 15px 15px 15px;
    display: inline-block;
    overflow: auto;
}

.left{
    background-color: azure;
}

.right{
    background-color: aquamarine;
}

.items {
    display: flex;
    padding: 5px 10px;
    margin-top: 15px;
    align-items: center;
}

.i-header{
    display: flex;
    padding: 5px 10px;
    margin-top: 15px;
    justify-content: space-around;
}

.it-col{
    flex:33%;
}

.right .items .it-name{
    display: flex;
    justify-content: end;
}

.it-qtd{
    display: flex;
    justify-content: center;
}

.it-col-bt{
    flex: 33%;
    display: flex;
}

.left .items .it-col-bt{
    justify-content: end;
}

.left .items{
    background-color: rgb(190, 248, 228);
    box-shadow: 1px 1px 1px 1px #CCCCCC;
}

.right .items{
    background-color: azure;
    box-shadow: 1px 1px 1px 1px #AAAAAA;
}

.left .i-header{
    background-color: rgb(190, 248, 228);
    box-shadow: 1px 1px 1px 1px #CCCCCC;
}

.right .i-header{
    background-color: azure;
    box-shadow: 1px 1px 1px 1px #AAAAAA;
}

.bt {
    border-radius: 4px;
    border-width: 0;
    color: #333333;
    box-shadow: 1px 1px 1px 1px #BBBBBB;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 7px 12px;
    min-width: 40px;
    max-width: 40px;

    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.left .bt-bg{
    background-color: azure;
}

.right .bt-bg{
    background-color: rgba(127, 255, 212, 0.5);
}

.bt-h{
    border: 0;
    box-shadow: 1px 1px 1px 1px #CCCCCC;
    cursor: pointer;
    font-size: small;
    color: #333333;
}