body{
    margin: 0;
    padding: 0;
}

.header{
    font-size: 30px;
    margin: 0;
    padding: 25px 30px;
    background-color: dodgerblue;
    color: snow;
}

.row{
    display: flex;
}

.left{
    flex: 70%;
    padding: 5px 30px;
}

.right{
    flex: auto;
    padding: 5px 30px;
    background-color: rgba(218, 199, 157, 0.318);
}

.nv{
    float: right;
}