body{
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    font-family: sans-serif !important;
}

.form {
    background-color: white;
    width: 800px;
    margin: 42px auto;
    display: flex;
    flex-direction: column;
    padding: 15px 30px 30px 50px;
}

.form h2{
    margin-bottom: 35px;
    color: rgb(53, 68, 168);
}

.form-col{
    display: flex;
    margin-bottom: 20px;
}

.form-col div{
    margin-right: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-col div input, .form-col div select{
    font-size: 14px;
    flex: auto;
    font-family: sans-serif !important;

    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-col div span{
    min-width: 100px;
    font-size: 16px;
    margin-right: 5px;
}

.form-col textarea {
    width: 100%;
    margin-right: 20px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 15px;
    resize: none;
    font-family: sans-serif !important;
}

.botoes{
    display: flex;
    justify-content: center;
}

.botoes button{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 0px 16px;
    border-radius: 2px;
    min-width: 90px;
    height: 38px;
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid cornflowerblue;
}

.botoes button:hover {
    background-color: rgb(124, 165, 240);
    border: 1px solid rgb(124, 165, 240);
}

.erro{
    text-align: center;
    font-size: 16px;
    color:rgb(237, 59, 59);
    margin-bottom: 15px;
}