<!DOCTYPE html>
<html lang="br">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Disciplinas cadastrados</title>
    <link href="/css/styles.css"></link>
</head>
<body>
    <h1 class="t1">Lista de disciplinas cadastradas</h1>
    <ul>
        <% for(var i=0; i<discList.length; i++) {%>
            <li>
                Descricao: <%= discList[i].descricao %>&emsp;Creditos: <%= discList[i].creditos %>&emsp;
                Curso: <%= discList[i].curso %>
            </li>
            <br>
        <% } %>
    </ul>    
</body>
</html>