<!DOCTYPE html>
<html lang="br">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Usuários cadastrados</title>
    <link href="/css/styles.css"></link>
</head>
<body>
    <h1 class="t1">Lista de usuários cadastrados</h1>
    <ul>
        <% for(var i=0; i<usuario.length; i++) {%>
            <li>
                Nome: <%= usuario[i].id %>&emsp;Idade: <%= usuario[i].nome %>
            </li>
            <br>
        <% } %>
    </ul>    
</body>
</html>