html,body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    color: azure;
    font-family: cursive;
}

.text-end{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.metade{
    flex: 50%;
}

.principal{
    background-color: #cbdb92;
    background-image: url("./Strawberries.png");
}

.secundario{
    display: flex;
    flex-direction: column;
}

.fundo{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50ex;
}

.cima{
    background-color: #d8b9af;
    background-image: url("./mango.png");
}

.sb-bg{
    background-size: 60ex;
}

.baixo{
    background-color: #cfcfcf;
    background-image: url("./mamao.png");
}

p, h1{
    margin: 5px
}

p{
    margin-bottom: 30px;
}